@import url('../index.style.css');

body{
    overflow-x: hidden;
    background-color: var(--SecondColor);
}
header{
    background-color: var(--PrimaryColor);
    top: 0;
}
.main{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
}

.Image-wrap{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--PrimaryColor);
    padding: 5px;
}
.wrap{
    width: 20%;
    height: 80%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow-y:scroll;
    margin: 1px 0px 1px 0px;
    padding: 5px;
}
#img{
    width: 100%;
    height: 25%;
    cursor: pointer;
    transition: 0.3s;
}
#img:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.384));
}
.index-img{
    width: 80%;
    height: 80%;
    padding: 5px;

}
.Info-wrap{
    padding:20px;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    gap: 20px;
    height: 85%;

}
.Info-wrap .info{
    display: flex;
    align-items: center;
    gap: 8px;
    color: gray;
}
.price{
    margin-top: 10px;
}
.price p{
    color: gray;
}
.description{
    width: 80%;
    margin:  10px 0;
}
.description P{
    color: gray;
}
.adresse .ad{
    color: gray;
}
.Contact-btn{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px ;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    top: 90%;
    right: 5%;
    z-index: 100000000;
}
.Contact-btn:hover{
    background-color: var(--SecondColor);
    color: var(--PrimaryColor);
    border: 1px solid var(--PrimaryColor);
}
footer{
    width: 100%;
    height: 20vh;
    background-color: var(--SecondColor);
    bottom: 0;
}
.showBox{
    display: block;
}
/* mobile veiw of max-width 375px == 23.4375em, 750 = 46.875em */
@media (max-width: 23.4375em) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 25%;
    }
    .Image-wrap{
        display: block;
        padding: 5px;   
        width: 100%; 
    }
    .wrap{
        display: flex;
        flex-wrap: nowrap;
        height: fit-content;
        overflow-x: scroll;
        padding: 0;
    }
    #img{
        width: 5em;
        height: 4em;
        cursor: pointer;
        transition: 0.3s;
    }
    .index-img{
        width: 30em;
        height: 20em;
        padding: 0;    
    }
    .Info-wrap{
        height: fit-content;
    }
}
@media (max-width: 50.4375em) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 25%;
    }
    .Image-wrap{
        display: block;
        padding: 5px;
    }
    .wrap{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;
        overflow-x: scroll;
        padding: 0;
    }
    #img{
        width: 5em;
        height: 4em;
        cursor: pointer;
        transition: 0.3s;
    }
    .index-img{
        width: 30em;
        height: 20em;
        padding: 0;    
    }
    .Info-wrap{
        height:fit-content ;
    }
}
