@import url("../index.style.css");

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main section{
    width: 50%;
   
}

.input-wrap{
    display: flex;
    flex-direction: column;
}

