@import url("../index.style.css");
.s-layout__content h1{
    width: 100%;
    padding-left: 40px;
    margin-top: 30px;
 }
 .s-layout__content form{
   position: absolute;  
   gap: 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   width: 100%;
   left: 15%;
   z-index: 10;
   margin-top: 10px;
 }
 form .inputs{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 50%;
     margin: 5px;
 }
 form input{
     background-color: transparent;
     border: none;
     border-bottom: 1px solid var(--PrimaryColor);
 }
 form input:focus{
     outline: none;
 }
 form .buttons{
     width: 40%;
     display: flex;
     flex-direction: row;
 }
 form button{
     padding: 6px 10px;
     background-color: var(--PrimaryColor);
     color: var(--SecondColor);
     border: none;
     cursor: pointer;
     margin: 8px 5px;
     transition: 0.3s;
 }
 .update:hover{
     background-color: var(--SecondColor);
     color: var(--PrimaryColor);
 }
 .cancel{
     background-color: var(--SecondColor);
     color: var(--PrimaryColor);
 }
 .cancel:hover{
     background-color: var(--PrimaryColor);
     color: var(--SecondColor);
 }
 
 /* mobile veiw of max-width 375px == 23.4375em, 750 = 46.875em */
@media (max-width: 23.4375em) {
    .s-layout__content form{
        left: 8%;
    }
    form .inputs{
        width: 90%;
    }

}
@media (max-width: 50.4375em) {
    form .inputs{
        width: 90%;
    }
    .s-layout__content form{
        left: 8%;
    }
}