@import url('./index.style.css');

header{
  position: absolute;
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  z-index: 100000;
}
.Logo{
  width: 15vmax;
  margin-bottom: 15px;
}
nav{
  display: flex;
  width: 70vmax;
  justify-content: space-between;
  color: var(--SecondColor);
}
nav ul{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
nav ul a{
  position: relative;
  overflow: hidden;
  color: var(--SecondColor);
}
nav ul a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 15%;
  background-color: var(--SecondColor);
  bottom: 0;
  right: 0%;
  transition: 0.3s;
}
nav a:hover::after{
  left: 0;
  width: 100%;
}
header form{
  display: flex;
  gap: 20px;
}
.Sign_in{
  padding: 15px 20px;
  border: 1px solid transparent;
  background-color: var(--SecondColor);
  color: var(--PrimaryColor);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.Sign_in:hover{
  background-color: transparent;
  color: var(--SecondColor);
  border: 1px solid var(--SecondColor);
}
.Log_in{
  background-color: transparent;
  border: none;
  color: var(--SecondColor);
  cursor: pointer;
}
.fa-bars{
  position: relative;
  color: var(--SecondColor);
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  right: -100%;
}
.logout{
  margin-left: 40%;
  display: flex;
  gap: 2px;
}
.settings , .Log_out, .notification{
  width: 50px;
  background-color: transparent;
  border: none;
  color: var(--SecondColor);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification{
  position: relative;
}
.notification .msg{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--SecondColor);
  color: var(--PrimaryColor);
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  top: 15%;
  right: 20%;
  border-radius: 100px;
}
.notification-wrap{
  display: none;
  position: absolute;
  width: 300px;
  height: 400px;
  padding: 20px;
  background-color: var(--SecondColor);
  color: var(--PrimaryColor);
  top: 60%;
  right: 12%;
  transition: 0.3s;
  flex-direction: column;
  overflow-y: scroll;
}
.show-notification{
  display: flex;
}
.notification-wrap h1{
  font-size: 30px;
}
.notification-form{
  display: flex;
  flex-direction: column;
  gap: 2pxpx;
  width: 100%;
  height: 100%;
}
.notification-form button{
  width: 100%;
  height: 50%;
  font-size: 15px;
  text-align: start;
  background-color: transparent;
  border: none;
  cursor: pointer;
 transition: 0.3s;
}
.notification-form button:hover{
  background-color: rgba(36, 35, 35, 0.144);
}
.side_logo{
  display: none;
}
.xmark{
  color: var(--PrimaryColor);
}
/* mobile veiw of max-width 375px == 23.4375em, 750 = 46.875em */
@media (max-width: 23.4375em) {
  .fa-bars{
    right: 0%;
    z-index: 300;
  }
  nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--SecondColor);
    z-index: 200;
    overflow: hidden;
    transform: scale(1);
    transition: 0.3s;
    right: 100%;
    top: 100%;
  }
  .side_logo{
    display: block;
    width: 30%;
    margin-left: 10%;
    margin-top: 5px;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  nav ul li{
    width: 100%;
    transition: 0.3s;
  }
  nav ul li:hover{
    margin-left: 5px;
  }
  nav ul a{
    color: var(--PrimaryColor);
    font-size: 50px;
  }
  nav form{
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--PrimaryColor);
  }
  .Sign_in{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
  }
  .Sign_in:hover{
    color: var(--PrimaryColor);
    border: 1px solid var(--PrimaryColor);
  }
  .Log_in{
    color: var(--PrimaryColor);
    margin-left: 10%;
  }
  .Logo{
    margin: 10px;
  }
  .show-nav{
    display: block;
    transform: scale(1);
    width: 100%;
    height: 100%;
    left: 0%;
  }
  .xmark{
    color: var(--PrimaryColor);
  }
  .logout{
    margin-left: 10%;
  }
  .settings , .Log_out, .notification{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    padding: 15px 20px;
    border: 1px solid transparent;
  }
  .notification-wrap{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    top: 15%;
  }
  .notification-form button{
    color: var(--SecondColor);
  }
}
@media (max-width: 50.4375em) {
  .fa-bars{
    right: 0%;
    z-index: 300;
  }
  nav{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: var(--SecondColor);
    z-index: 200;
    overflow: hidden;
    transform: scale(1);
    transition: 0.3s;
    right: 100%;
    top: 0;
  }
  .side_logo{
    display: block;
    width: 30%;
    margin-left: 10%;
    margin-top: 5px;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  nav ul li{
    width: 100%;
    transition: 0.3s;
  }
  nav ul li:hover{
    margin-left: 5px;
  }
  nav ul a{
    color: var(--PrimaryColor);
    font-size: 50px;
  }
  nav form{
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--PrimaryColor);
  }
  .Sign_in{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
  }
  .Sign_in:hover{
    color: var(--PrimaryColor);
    border: 1px solid var(--PrimaryColor);
  }
  .Log_in{
    color: var(--PrimaryColor);
    margin-left: 10%;
  }
  .Logo{
    margin: 10px;
  }
  .show-nav{
    display: block;
    transform: scale(1);
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: -2%;
    margin-bottom: 2%;
  }
  .xmark{
    color: var(--PrimaryColor);
  }
  .logout{
    margin-left: 10%;
  }
  .settings , .Log_out, .notification{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    padding: 15px 20px;
    border: 1px solid transparent;
  }
  .notification-wrap{
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    top: 15%;
    left: 5%;
  }
  .notification-form button{
    color: var(--SecondColor);
  }
}