@import url("../index.style.css");
@import url('./Myprofile/Myprofile_style.css');
@import url('./Password/password_style.css');
@import url('./Properties/propertiespage_style.css');
body{
    font-family: var(--Primaryfont);
    overflow: hidden;
    background-color: var(--SecondColor);
}
 
a{
    text-decoration: none;
    color: inherit;
 } 
 
 /* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
 
  
 /* Sidebar */
.s-sidebar__trigger {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: var(--PrimaryColor);
}
 
.s-sidebar__trigger > i {
    display: inline-block;
    margin: 1em 0 0 1.5em;
    color: #fff;
    display: none;
    font-size: 20px;
}
.s-layout__sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    left: 2%;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 10em;
    height: 90vh;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0;
    z-index: 20;
}
.s-sidebar__nav{
    width: 100%;
}
.s-layout__sidebar img{
    width: 60%;
}
.s-sidebar__nav form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 100%;
    padding: 10px;
}
.s-sidebar__nav form button{
    width: 100%;
    font-size: 15px;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}
.s-sidebar__nav form button:hover{
    background-color: var(--SecondColor);
    color: var(--PrimaryColor);
}
.listhover{
    background-color: var(--SecondColor);
    color: var(--PrimaryColor);
}
.s-layout__sidebar form{
    width: 100%;
}
.s-layout__sidebar form button{
    padding: 10px 0px;
    width: 100%;
    font-size: 15px;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.s-layout__sidebar form button:hover{
    background-color: var(--SecondColor);
    color: var(--PrimaryColor);
}
.s-layout__content {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-top: 5vh;
    overflow: hidden;
    z-index: 10;
}

/* mobile veiw of max-width 375px == 23.4375em, 750 = 46.875em */
@media (max-width: 23.4375em) {
    .s-layout__sidebar{
        width: 4em;
        align-items: center;
    }
    .s-sidebar__nav form button{
        margin-left: 15px;
    }
    .s-sidebar__nav form button span{
        display: none;
    }
    .s-layout__sidebar form button span{
        display: none;
    }
    .s-layout__sidebar form button{
        margin-left: 15px;
    }

}
@media (max-width: 50.4375em) {
    .s-layout__sidebar{
        width: 4em;
        align-items: center;
    }
    .s-sidebar__nav form button{
        margin-left: 15px;
    }
    .s-sidebar__nav form button span{
        display: none;
    }
    .s-layout__sidebar form button span{
        display: none;
    }
    .s-layout__sidebar form button{
        margin-left: 15px;
    }
}
 

.changecolor{
    color: var(--SecondColor);
}