form{
    position: relative;  
   gap: 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   width: 100%;
   left: 25%;
   z-index: 10;
   margin-top: 10px;
  
}
.input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px ;
}
.input-field{
    position: relative;
    width: 100%;
}
.input-field i{
    position: absolute;
    cursor: pointer;
    right: 60%;

}
.input-field input{
     width: 40%;

}
